# Import Libraries

In [32]:
import pandas as pd 
import numpy as np

# load data

In [33]:
path = (r'D:\Machine learning 2\Data\smoke_detection_iot.csv')

data = pd.read_csv(path, header=None, names=['num', 'UTC', 'Temperature', 'Humidity', 'TVOC', 'eCO2', 'Raw_H2', 'Raw_Ethanol', 'Pressure', 'PM1', 'PM2', 'NC0', 'NC1', 'NC2', 'CNT', 'Fire_Alarm'])
print ("data = ")
print("Data Describe = ")
print()
print(data.describe())

C:\Users\dell\AppData\Local\Temp\ipykernel_7064\3038106198.py:3: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(path, header=None, names=['num', 'UTC', 'Temperature', 'Humidity', 'TVOC', 'eCO2', 'Raw_H2', 'Raw_Ethanol', 'Pressure', 'PM1', 'PM2', 'NC0', 'NC1', 'NC2', 'CNT', 'Fire_Alarm'])

data =
Data Describe =

          num    UTC  Temperature Humidity   TVOC   eCO2  Raw_H2  Raw_Ethanol  \
count   62631  62631     62631.00    62631  62631  62631   62631        62631
unique  62631  62631     24991.00     5474   2905   2230    2588         3460
top       num    UTC        24.48    53.41      0    400   12786        19438
freq        1      1       222.00       77   1472  20808     273          346

       Pressure       PM1       PM2    NC0    NC1        NC2    CNT Fire_Alarm
count     62631  62631.00  62631.00  62631  62631  62631.000  62631      62631
unique     2991   1650.00   1675.00   4974   6814   1276.000  47960          5
top     938.709      1.79      1.99      0      0      0.043    924          1
freq        152    397.00    377.00    182     80   1538.000      3      26411

#  Rearrange Data

In [34]:
Fire_Alarm = data[data["Fire_Alarm"].isin([1])]
Not_Fire_Alarm = data[data["Fire_Alarm"].isin([0])]

print("Fire_Alarm: ")
print()
print(Fire_Alarm)
print()
print(".......................................................................................")
print()
print("Not_Fire_Alarm: ")
print()
print(Not_Fire_Alarm)

Fire_Alarm:

         num         UTC Temperature Humidity TVOC eCO2 Raw_H2 Raw_Ethanol  \
32768  32767  1654769116       20.83    50.47  283  400  13119       19983
32769  32768  1654769117       20.83    50.39  285  400  13123       19976
32770  32769  1654769118       20.85    50.32  285  400  13126       19980
32771  32770  1654769119       20.88    50.24  283  400  13119       19982
32772  32771  1654769120       20.88    50.13  285  400  13123       19979
...      ...         ...         ...      ...  ...  ...    ...         ...
51142  51141  1654904158       31.12    18.67    0  873  13077       20927
51146  51145  1654712190       27.32    43.84   29  454  12858       20752
51147  51146  1654712191       27.27    43.98   28  456  12860       20751
56890  56889  1655124311      20.191    43.84   29  454  12858       20752
56891  56890  1655124312      20.254    43.98   28  456  12860       20751

      Pressure   PM1   PM2    NC0    NC1    NC2   CNT Fire_Alarm
32768  939.419  0.49   0.5   3.34  0.521  0.012  7773          1
32769  939.425  0.48   0.5   3.33  0.519  0.012  7774          1
32770  939.416  0.47  0.49   3.26  0.509  0.011  7775          1
32771  939.421  0.47  0.49   3.22  0.502  0.011  7776          1
32772  939.407  0.46  0.48   3.15  0.491  0.011  7777          1
...        ...   ...   ...    ...    ...    ...   ...        ...
51142  930.929   1.0  1.04   6.89  1.075  0.024  1153          1
51146   937.61  2.24  2.32  15.39    2.4  0.054     3          1
51147  937.601  2.26  2.35  15.58  2.429  0.055     4          1
56890   937.61  2.24  2.32  15.39    2.4  0.054     3          1
56891  937.601  2.26  2.35  15.58  2.429  0.055     4          1

[18346 rows x 16 columns]

.......................................................................................

Not_Fire_Alarm:

         num         UTC Temperature Humidity TVOC eCO2 Raw_H2 Raw_Ethanol  \
49989  49988  1654903005       20.75    30.27    0  400  13434       19806
49990  49989  1654903006       20.66    30.42    0  400  13452       19840
49991  49990  1654903007       20.61    30.44    0  400  13454       19866
49992  49991  1654903008       20.61    30.64    0  400  13461       19894
49993  49992  1654903009        20.6    30.68    0  400  13455       19906
...      ...         ...         ...      ...  ...  ...    ...         ...
62626  62625  1655130047      18.438    15.79  625  400  13723       20569
62627  62626  1655130048      18.653    15.87  612  400  13731       20588
62628  62627  1655130049      18.867    15.84  627  400  13725       20582
62629  62628  1655130050      19.083    16.04  638  400  13712       20566
62630  62629  1655130051      19.299    16.52  643  400  13696       20543

      Pressure   PM1   PM2    NC0    NC1    NC2   CNT Fire_Alarm
49989  931.138  1.92  2.47  12.04  2.633  0.508     0          0
49990  931.135  1.91  2.43  11.98  2.585  0.485     1          0
49991  931.134  1.85  2.36  11.62  2.506  0.469     2          0
49992  931.131  1.83  2.33  11.48  2.476  0.463     3          0
49993  931.132  1.78  2.26  11.27  2.397  0.435     4          0
...        ...   ...   ...    ...    ...    ...   ...        ...
62626   936.67  0.63  0.65   4.32  0.673  0.015  5739          0
62627  936.678  0.61  0.63   4.18  0.652  0.015  5740          0
62628  936.687  0.57   0.6   3.95  0.617  0.014  5741          0
62629   936.68  0.57  0.59   3.92  0.611  0.014  5742          0
62630  936.676  0.57  0.59    3.9  0.607  0.014  5743          0

[11517 rows x 16 columns]

# Shape

In [35]:
columns = data.shape[1]
X = data.iloc[:,0:columns-1] #From (num) to (CNT)
Y = data.iloc[:,-1:columns] #Fire_Alarm

X = np.array(Fire_Alarm)
Y = np.array(Not_Fire_Alarm)

print()
print("X_shape = ", X.shape)
print()
print("Y_shape = ", Y.shape)

X_shape =  (18346, 16)

Y_shape =  (11517, 16)

# load data 2

In [36]:
path = (r'D:\Machine learning 2\Data\smoke_detection_iot.csv')

data = pd.read_csv(path, header=None, names=['UTC', 'Temperature', 'Humidity', 'TVOC', 'eCO2', 'Raw_H2', 'Raw_Ethanol', 'Pressure', 'PM1', 'PM2', 'NC0', 'NC1', 'NC2', 'CNT'])
print ("data = ")
print("Data Describe = ")
print()
print(data.describe())

C:\Users\dell\AppData\Local\Temp\ipykernel_7064\2067124119.py:3: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(path, header=None, names=['UTC', 'Temperature', 'Humidity', 'TVOC', 'eCO2', 'Raw_H2', 'Raw_Ethanol', 'Pressure', 'PM1', 'PM2', 'NC0', 'NC1', 'NC2', 'CNT'])

data =
Data Describe =

             UTC Temperature  Humidity   TVOC   eCO2  Raw_H2 Raw_Ethanol  \
count   62631.00       62631     62631  62631  62631   62631       62631
unique  24991.00        5474      2905   2230   2588    3460        2991
top        24.48       53.41         0    400  12786   19438     938.709
freq      222.00          77      1472  20808    273     346         152

        Pressure       PM1    PM2    NC0        NC1    NC2    CNT
count   62631.00  62631.00  62631  62631  62631.000  62631  62631
unique   1650.00   1675.00   4974   6814   1276.000  47960      5
top         1.79      1.99      0      0      0.043    924      1
freq      397.00    377.00    182     80   1538.000      3  26411

# Number Of Features

In [37]:
print(data.shape[1])

14

# Number Of Data

In [38]:
data = pd.DataFrame(data)

print(data.count())

UTC            62631
Temperature    62631
Humidity       62631
TVOC           62631
eCO2           62631
Raw_H2         62631
Raw_Ethanol    62631
Pressure       62631
PM1            62631
PM2            62631
NC0            62631
NC1            62631
NC2            62631
CNT            62631
dtype: int64

# Dropping 'UTC' Column

In [39]:
df = pd.read_csv(r'D:\Machine learning 2\Data\smoke_detection_iot.csv')
df.head()

,num,UTC,Temperature,Humidity,TVOC,eCO2,Raw_H2,Raw_Ethanol,Pressure,PM1,PM2,NC0,NC1,NC2,CNT,Fire_Alarm
0,0,1654733331,20.000,57.36,0,400,12306,18520,939.735,0.0,0.0,0.0,0.0,0.0,0,0
1,1,1654733332,20.015,56.67,0,400,12345,18651,939.744,0.0,0.0,0.0,0.0,0.0,1,0
2,2,1654733333,20.029,55.96,0,400,12374,18764,939.738,0.0,0.0,0.0,0.0,0.0,2,0
3,3,1654733334,20.044,55.28,0,400,12390,18849,939.736,0.0,0.0,0.0,0.0,0.0,3,0
4,4,1654733335,20.059,54.69,0,400,12403,18921,939.744,0.0,0.0,0.0,0.0,0.0,4,0

In [40]:
df.drop(['UTC'], axis = 1)

,num,Temperature,Humidity,TVOC,eCO2,Raw_H2,Raw_Ethanol,Pressure,PM1,PM2,NC0,NC1,NC2,CNT,Fire_Alarm
0,0,20.000,57.36,0,400,12306,18520,939.735,0.00,0.00,0.00,0.000,0.000,0,0
1,1,20.015,56.67,0,400,12345,18651,939.744,0.00,0.00,0.00,0.000,0.000,1,0
2,2,20.029,55.96,0,400,12374,18764,939.738,0.00,0.00,0.00,0.000,0.000,2,0
3,3,20.044,55.28,0,400,12390,18849,939.736,0.00,0.00,0.00,0.000,0.000,3,0
4,4,20.059,54.69,0,400,12403,18921,939.744,0.00,0.00,0.00,0.000,0.000,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62625,62625,18.438,15.79,625,400,13723,20569,936.670,0.63,0.65,4.32,0.673,0.015,5739,0
62626,62626,18.653,15.87,612,400,13731,20588,936.678,0.61,0.63,4.18,0.652,0.015,5740,0
62627,62627,18.867,15.84,627,400,13725,20582,936.687,0.57,0.60,3.95,0.617,0.014,5741,0
62628,62628,19.083,16.04,638,400,13712,20566,936.680,0.57,0.59,3.92,0.611,0.014,5742,0
62629,62629,19.299,16.52,643,400,13696,20543,936.676,0.57,0.59,3.90,0.607,0.014,5743,0